p{
    color: black;
    text-align: center;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    font-size: 30px;

}
@keyframes anim1{
    from{background-color: green;}
    to{background-color:lightgreen;}
}
.div10{
    font-style: oblique;
    font-size: larger;
    width: 100px;
    height: 100px;
    padding-left: 40px;
    border-radius: 40%;
    background-color: green;
    animation-name: anim1;
    animation-duration: 3s;
}
div h1{
    color: blue;
    
}
hr{
    height: 5px;
    background-color: black;
}
.nomelogo{
    text-align: center;
    color: green;
    border-bottom: 3\px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    margin: 0 auto
    
}

    

.pesquisa{
    
    border-width: 3px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}
video{
    width: 450px;
    height: auto;
    
}
img{
    width: 100px;
    height: auto;
    display: block;
    margin: auto
}
body{
    background-color: lightgrey;
}